<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gangbb.core.mapper.SysUserPostMapper">
	<resultMap id="BaseResultMap" type="com.gangbb.core.model.entity.SysUserPost">
            <result column="user_id" property="userId" />
	        <result column="post_id" property="postId" />
		</resultMap>

</mapper>